/* Basic and common css */
body{
    font-family: 'Montserrat', sans-serif;
	font-weight:500;
    color: #666666;
    font-size: 16px;
    line-height:24px;
}
a:focus, a:hover, a:active {
	text-decoration:none;
	outline:none;
}
button, button:focus, button:active {
    outline: none;
    box-shadow: none !important;
}
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
em {
	color:#d0081a;
}
sub, sup {
    font-size: 50%;
}
sup {
    top: -.75em;
}

.cover{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* flexbox css */
.flex-end{
    justify-content: flex-end;
}
.row-reverse{
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
.banner-back-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    opacity: .8;
}
.contact-back-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .75;
}
}

/* font related css */
.fw-3{
	font-weight: 300!important;
}
.fw-4{
	font-weight: 400!important;
}
.fw-6{
	font-weight: 600!important;
}
.fw-7{
	font-weight: 700!important;
}
.fw-8{
	font-weight: 800!important;
}

.font-14{
	font-size: 14px!important;
}
.font-16{
	font-size: 16px!important;
}
.font-18{
	font-size: 18px!important;
}
.font-20{
	font-size: 20px!important;
}
.font-24{
	font-size: 1.5rem!important;
}
.lh-20{
    line-height: 20px;
}
.lh-30 {
    line-height: 30px;
}
.lh-normal{
    line-height: normal;
}
.w-120 {
    width: 120px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 2.75rem;
    font-weight: 800;
}
h2{
    font-size: 2.25rem;
    font-weight: 800;
}
h3{
    font-size: 1.9rem;
    font-weight: 800;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}

/* Color and Backgrounds  css */
.bg-blue{
    background-color: #4683db!important;
}
.bg-light-yellow{
    background-color: #ffd336!important;
}
.bg-white{
    background-color: #ffffff!important;
}
.bg-light-gray{
    background-color: #eeeeee!important;
}
.bg-dark-gray{
    background-color: #111!important;
}

.color-blue{
    color: #4683db!important;
}
.color-light-blue{
    color: #c7deff!important;
}
.color-yellow{
    color: #ffbc1c!important;
}
.color-white{
    color: #ffffff!important;
}
.color-black{
    color: #000000!important;
}
.color-light-gray{
    color: #bababa!important;
}
.color-gray{
    color: #cccccc!important;
}
.color-dark-gray{
    color: #898989!important;
}
.color-twitter, .color-twitter:hover {
    color: #55acee;
}
.color-facebook, .color-facebook:hover {
    color: #3b5998;
}
.color-linkedin, .color-linkedin:hover {
    color: #0e76a8;
}
.color-youtube, .color-youtube:hover {
    color: #ff0000;
}
.color-instagram, .color-instagram:hover {
    color: #dd2a7b;
}
.color-pinterest, .color-pinterest:hover {
    color: #bd081c;
}

/* Extra padding margin css */
.pt-100, .py-100{
    padding-top: 6.25rem;
}
.pb-100, .py-100{
    padding-bottom: 6.25rem;
}
.pt-80, .py-80{
    padding-top: 5rem;
}
.pb-80, .py-80{
    padding-bottom: 5rem;
}
.pt-60, .py-60{
    padding-top: 3.75rem;
}
.pb-60, .py-60{
    padding-bottom: 3.75rem;
}
.mt-100, .my-100{
    margin-top: 6.25rem;
}
.ml-100 {
    margin-left: 6.25rem;
}
.mr-100 {
    margin-right: 6.25rem;
}
.mb-100, .my-100{
    margin-bottom: 6.25rem;
}
.mt-80, .my-80{
    margin-top: 5rem;
}
.mb-80, .my-80{
    margin-bottom: 5rem;
}
.mt-60, .my-60{
    margin-top: 3.75rem;
}
.mb-60, .my-60{
    margin-bottom: 3.75rem;
}

/* btn css */

.btn-yellow {
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    line-height: normal;
    border-radius: .3rem;
    padding: .8rem 2.8rem .6rem;
    text-transform: uppercase;
    position: relative;
    color: #000;
    background: #ffd336;
    letter-spacing: 1px;
}
.btn-yellow:hover {
    color: #ffd336;
    background-color: #000;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: 0px 8px 22px 0px rgba(0,42,50,0.22);
    -moz-box-shadow: 0px 8px 22px 0px rgba(0,42,50,0.22);
    box-shadow: 0px 8px 22px 0px rgba(0,42,50,0.22);
} 
/* ============= Header Section Start ============= */
header{
    background-color: #ffd336;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
header .logo {
    color: #666666;
    font-weight: 500;
}
header .logo:hover{
    text-decoration: none;
}
header .navbar-brand{
    height: auto;
}
nav.navbar ul.navbar-nav li {
    transition: all ease-in-out .2s;
    text-align: center;
    position: relative;
    margin-left: .5rem;
}

header .header-nav li a{
    color: #000;
    font-size: 24px;
    padding: .25rem 1.25rem;
    display: block;
    background-color: transparent;
    transition: all 0.45s;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}
header .header-nav li a:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #fff;
    transition: all ease-in-out .2s;
}
header .header-nav li a:hover, 
header .header-nav li a:focus, 
header .header-nav li.active a{
    text-decoration: none;
    color: #fff;
}
nav.navbar ul.navbar-nav li a:hover:after, nav.navbar ul.navbar-nav li.active a:after {
    width: 100%;
    left: 0;
}
.hamburger-button, .hamburger-button:focus, .hamburger-button:hover {
border: none;
outline: none;
}
.hamburger-button .animated-close { 
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamburger-button .animated-close span { 
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background: #333333;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.hamburger-button .animated-close span:nth-child(1) { 
    top: 0px;
}
.hamburger-button .animated-close span:nth-child(2), .hamburger-button .animated-close span:nth-child(3) { 
    top: 10px;
}
.hamburger-button .animated-close span:nth-child(4) { 
    top: 20px;
}
.hamburger-button .animated-close.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}
.hamburger-button .animated-close.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger-button .animated-close.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hamburger-button .animated-close.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
@media (max-width: 991px) {
    ul#top-menu {
        margin-top: 1rem;
    }
    ul#top-menu li {
        text-align: left;
        padding: .3rem 0;
    }
}
/* ============= Header Section End ============= */
/* ============= Banner Section Start ============= */
#banner-section{
    margin-top: 85px;
}
.banner{
    background-color: #f9f9f9;
}
.banner .row{
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center right;
}
.banner h6{
    color: #666666;
    font-weight: 400;
    line-height: 26px;
}

/* ============= Banner Section End ============= */

/* ============= About Section Start ============= */
.tech-img {height: 270px;}
/* ============= About Section End ============= */
.owl-carousel .owl-nav {
    display: none;
} 
.owl-carousel .owl-dots {text-align: center}
.owl-carousel .owl-dots .owl-dot {
    background-color: #cca92b;
    width: 10px;
    height: 10px;
    margin: .5rem;
    border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot:focus, .owl-carousel .owl-dots .owl-dot.active {
    background-color: #f9b813;
    border: 0;
}
.stape-panel p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.stape-panel .img-box {
    height: 130px;
    width: 130px;
    margin: 0 auto;
    line-height: 130px;
    text-align: center;
    margin-bottom: 1.25rem;
    background-color: #ffd336;
    position: relative;
}

.easy-steps .col-lg-4:nth-child(4) .stape-panel .img-box::after {display: none}

.stape-panel .img-box::after {
    content: "";
    width: 255px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    position: absolute;
    right: -255px;
    background-color: #ffd336;
}

.easy-steps {
    background-color: #f9f9f9;
}
.easy-steps .col-lg-4.last .stape-panel .img-box::after {
    content: "";
    width: 0;
}
/* ============= Product Section Start ============= */
.catalog {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(219,219,219,1);
    box-shadow: 0px 0px 10px 1px rgba(219,219,219,1);
    border-radius: 5px;
    position: relative;
    padding: 1rem;
    min-height: 350px;
}
.catalog .percentage {
    width: 45px;
    height: 45px;
    padding: .5rem;
    text-align: center;
    background-color: #f9b813;
    color: #000;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 1rem;
    left: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.catalog img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.catalog .bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
}
/* ============= Product Section End ============= */

/* ============= Testimonial Section Start ============= */
.testi-carousel .author-img, .testi-carousel .quote-img {
    display: block;
    margin: 0 auto;
    float: left;
}
.testi-carousel.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}
.testi-carousel.owl-carousel p {
    padding-left: 7rem;
    color: #000;
    font-weight: normal;
}
.testi-carousel .author-degi {
    color: #000;
}
/* ============= Testimonial Section End ============= */
.contact-section {
    background-image: url(../images/contact_us.png);
    background-position: 16% 100%;
    background-repeat: no-repeat;
    background-size: auto;
}
.contact-section .nav-tabs {
    border: 0;
}
.contact-section .nav-link {
    border: 0;
    color: #000;
}
.contact-section .nav-link.active {
    border-bottom: 2px solid #f5c106; 
    color: #f5c106;
}
.contact-wrap {
    border-radius: 10px;
}
.contact-form .form-control {
    border-width: 2px;
    border-color: #ebebeb;
    height: 50px;
}
.contact-form .form-control:focus {
    outline: none;
    box-shadow: none;
} 
.contact-form .form-group {
    margin-bottom: 1.5rem;
}
.contact-form textarea {
    min-height: 120px;
}
.contact-form .form-group label {
    font-weight: 500;
    margin: 0;
    padding-bottom: .25rem;
    position: relative;
}
.contact-form .form-group label.requird::after {
    content: "";
    display: table;
    width: 30px;
    height: 2px;
    background-color: #ffbc1c;
    position: absolute;
    bottom: -2px;
    left: 4px;
    z-index: 2;
}
.news-form .form-control {
    height: 50px;
    border-radius: .4rem;
    padding: .75rem 10rem .75rem 3.5rem;
    border: none;
    background-image: url(../images/f-mail.png);
    background-repeat: no-repeat;
    background-position: 4% 50%;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.06);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.06);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.06);
}
.news-form .btn {
    position: absolute;
    top: 49px;
    right: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 50px;
    outline: none;
    box-shadow: none !important;
}
.news-form .btn:hover {
    background-color: #d1ab21;
    color: #000;
}
/* ============= Footer section ============= */
.copy-area {
    background-color: #0d0d0d;
    font-size: 14px;
    color: #666;
}
ul.social-link li {
    margin-right: .5rem;
    display: inline-block;
}
ul.social-link li a {
    width: 36px;
    height: 36px;
    font-size: 1rem;
    display: block;
    border-radius: 50%;
    color: #ffd336;
    border: 1px solid #ffd336;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 768px) {
    footer .follow, footer .social-link {
        text-align: left !important;
    }
}
/* ============= Footer section End ============= */
.select2-container--default .select2-selection--single {
    border: 2px solid #ebebeb !important;
}
.select2-container .select2-selection--single {
    height: 49px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px !important;
}
span.select2-selection.select2-selection--single {
    outline: none !important;
}
#pro2 .select2-container {
    width: 540px !important;
}
#form1 .load, #form2 .load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}