@media (min-width: 992px){
    
}

@media (min-width: 1200px) and (max-width: 1600px){
    /* .banner{
        background-position: 50% 100%;
    } */
    
}

@media (min-width: 992px) and (max-width: 1199.98px){
   
}

@media (max-width: 1199.98px){
    .banner .row {
        min-height: 600px;
    }
    #banner-section {
        background-size: 75%;
    }
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
    



}
@media (max-width: 991.98px){
    .stape-panel .img-box::after {
        display: none;
    }
    .banner .row {
        min-height: 500px;
    }
    .banner h1 {
        font-size: 1.75rem;
    }
    .banner h1 span {
        font-size: 2.25rem;
    }
    .about-Con-box{
        margin-left: 0;
    }
    .author-area{
        padding: 1rem!important;
    }
    .testi-area .owl-item .title{
        margin: 1rem 0 1.5rem 0!important;
    }
    .testi-area .title span{
        margin-bottom: 6px;
        height: 4px;
    }
    .testi-area p{
        font-size: 16px!important;
        margin: 0 0 0 .65rem!important;
        line-height: 22px;
    }
    .testi-area .owl-carousel .owl-dots{
        left: 11%;
        bottom: 2%;
    }
    .testi-area .owl-carousel .owl-stage-outer {
        padding: 1.5rem 0;
    }

    header.fixed-top{
        padding: 1rem 0!important;
    }
    nav.navbar ul.navbar-nav li.nav-item{
        text-align: left;
        margin: 0;
    }
    header .header-nav li.nav-item a.nav-link{
        padding: .25rem 0rem;
    }
    header .navbar-light .navbar-text{
        display: block;
        margin-top: .5rem;
    }
    header .header-nav li.nav-item a.nav-link:hover, header .header-nav li.nav-item a.nav-link:focus, header .header-nav li.nav-item.active a.nav-link{
        background-color: #009cbc;
        color: #ffffff;
        padding: .25rem .75rem;
    }
    header .header-nav li.nav-item a.nav-link:after{
        background-color: transparent;
    }
    #banner-section {
        margin-top: 72px;
    }

}


@media (max-width: 767.98px){
    .call2action h2{
        font-size: 1.5rem;
        margin-bottom: 1.5rem!important;
    }
    .call2action .row {
        min-height: 300px;
    }
    .featured-title h2{
        margin-bottom: 1.5rem!important;
    }
    .featured ul li{
        margin: .75rem;
    }
    .featured{
        padding: 4rem 0;
    }
    .author-area{
        margin: 0 auto 1.5rem auto;
    }
    .testi-area .owl-item .title{
        display: none!important;
    }
    .testi-area .quote{
        float: none;
        text-align: center;
        margin-bottom: 1rem;
    }
    .testi-area p{
        padding: 0!important;
        margin: 0!important;
        text-align: center;
    }
    .testi-area .owl-carousel .owl-dots {
        left: 45%;
        bottom: -2%;
    }
    .curriculum-area{
        padding: 4rem 0;
    }

}
@media (max-width: 575.98px){
    .banner .row {
        min-height: 450px;
    }
}
@media (max-width: 399.98px){
    .btn-gradient{
        font-size: 1rem;
    }
}